@model AxxesTimes.Data.Models.Article

@{
    ViewData["Title"] = Model.Title;
}

<link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Open+Sans:300,400,400italic,700,700italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://axxes.com/wp-content/cache/minify/47a46.css" media="all">

<div class="text-center article-header">
    <h1 class="display-4">@Html.DisplayFor(modelItem => Model.Title)</h1>
</div>

<div class="article-reads">
    @Html.DisplayFor(modelItem => Model.Reads) views
</div>

<div class="article-content">
    @Html.Raw(Model.BodyHtml)
</div>