@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web application is for training purposes only. Your privacy is not protected in any way, and we have no intentions to do so.<br/> 
    We recommend to protect yourselves, and jump out of the window, while you still can.
    <br/><br/>
    And that's really all we have to say about your privacy. Really.
</p>
